// app global css in SCSS form
body, .q-select__dropdown-content, .q-input {
	color: black !important;
  }
  
  .q-item {
	color: black !important;
  }
  
  .q-item--active {
	color: black !important;
  }
  
  .q-icon {
	color: black !important;
  }
  